html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
